footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(5, 5, 5);
    background-color: #424106;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(236, 243, 234, 0.966);
}

.copyright{
    font-size: 15px;
    opacity: 0.7;
    font-weight: bold;
    padding: 2rem 5rem;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
 
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 2rem 5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color:white;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.footer-info, .menu-item-footer{
    margin: 3px 0;
    opacity: 0.7;
    color:white;
    text-decoration: none;
    transition: 1s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: 12px;
    font-weight: 400px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url(../img/footer/TwitterBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(../img/footer/InstagramBlanco.png);
}

footer .social-link:nth-of-type(3){/*Nth of type inside that container*/
    background-image: url(../img/footer/FacebookBlanco.png);
}
footer .social-link:nth-of-type(4){/*Nth of type inside that container*/
    background-image: url(../img/footer/LinkedinBlanco.png);
}



/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: center;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: url(../img/logo-whatsapp.png);
    color: rgb(103, 219, 7);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px rgb(0, 168, 222);
    background-color: #022e0d;
    z-index: 1000;

}

.fa-whatsapp {
    margin-top: 16px;
}

/*------------ COMENTARIOS DO FOOTER-------------*/ 

h1 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
.ue{
 text-align: left;
 padding: 15px;
}
 
input {
    margin-bottom: 20px;
}
  
#comentario {
    resize: none;
    width: 400px;
    padding: 1px;
    margin-bottom: 4px;
    background-color: #424106;
    color: #fff;
}
  
#cor-texto {
    padding: 0px 1px;
    
}
  
  
#cor-fundo:hover{
    cursor: pointer;
}
  
button {
    padding: 1px 0px;
    border: 2px solid rgb(235, 8, 8);
    border-radius: 5px;
    margin-bottom: 20px;
}

.o{
    font-size: 17px;
    border-radius: 15px 20px;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    box-shadow: 41px 40px 10px #424106;
}
button:hover {
    background-color: rgb(9, 236, 65);
    cursor: pointer;
}


  /* parte dos comentários */
  
#ana2 {
    display: block;
}
  
.usuario {
    border: 1px solid rgb(27, 24, 24);
    padding: 20px 40px;

}